.topnav{
	background-color:#5cb85c;
	height:50px;
}
.topnav>ul{		
	list-style-type: none;
    margin: 0;
    padding: 0;
	display : inline;
}
.open-login, .open-catalogue, .open-home{
    float : right;
    text-transform:  CAPITALIZE;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}
    
.open-login-link,.open-catalogue-link , .open-home-link{ 
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    cursor: pointer;
}
body {
	
	margin: 0;
    font-family: helvetica;
}
 

/* Slideshow */

.slide-show-container{
    overflow: hidden;
}
.slide-container{
    
    height: 550px;
    transform: translateX(0px);
    transition-duration: 1s;
}
.slides{
    display: inline-block;    
    
}
.slide-container img{
    width: 100%;
    height: 100%;
}
.dot-container {
    text-align:  center;
    padding-top: 20px;
}

.search-unit-container {
    position:  absolute;
    top: calc(50% - 46px);
    left: calc(25%);
    width: 50%;
    background-color: #464242;
    opacity: 0.85;
}

.search-unit input[type="text"] {
    width: calc(100% - 46px);
    font-size: 20px;
    padding: 0px;
    border: 0px;
    outline: none;
    padding: 15px;
    border-right: solid 1px #615b4a;
}

.search-unit {
    background-color: white;
    margin: 15px;
}
.search-unit>div>i{    
    margin: 15px 15px;
    cursor: pointer;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	margin-top: -22px;
	padding: 10px;
	background-color:transparent;
	color:white;
	font-weight: bold;
	font-size: 30px;
	border-radius: 0 3px 3px 0;
	border:none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
 }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: #919191;
}

/* The dots/bullets/indicators */
.dot-circle {
	cursor:pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
    display: inline-block;
    /* #839192   */
 }

.dot-circle.active, .dot-circle:hover {
	background-color: #717171;
}

/* The Modal (background) */

#loginModal, #signupModal{
    display: none;
}
.modal {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

.modal-body-login-link, .modal-body-signup-link {
    padding-top: 10px;
}

/* The Close Button */
.login-close,.signup-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.login-close:hover,
.login-close:focus,
.signup-close:hover,
.signup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
	padding: 10px 16px;
}
.modal-body-login-form, .modal-body-signup-form{
	padding: 20px
}
.modal-body-login-form-input, .modal-body-signup-form-input{
    margin-bottom: 30px;
}

.modal-body-login-form-input label, .modal-body-signup-form-input label{ 
    width:100px;
    display:inline-block;
}

.modal-body-login-form-input input, .modal-body-signup-form-input input{
    border: none;
    border-bottom: solid 1px #ccc;
	padding-left : 30px;
	outline: none;
}
    
.login-btn{
	background-color: #92e692;
    width: 100%;
    height: 5%;
    margin-bottom: 20px;
	box-shadow: 3px 3px 8px #888888;
    border: none;
}
.signup-btn {
    background-color: #92e692;
    width: 100%;
    height: 5%;
    margin-bottom: 20px;
	box-shadow: 3px 3px 8px #888888;
    border: none;
    
}
/* Login failure message */
.login-modal-body-msg, .signup-modal-body-msg{
    display:none;
    color: red;
    padding-top: 15px;
}
.modal-body-forgetpwd{
    display:none;
    padding-top: 15px;
    padding-bottom:  15px;
}
.modal-body-signup {
    padding-top: 15px;
}

.logged-in:hover .user{
    display: block;
    z-index: 1;
}

/* Logout modal */
.user {
    background-color: #9aea9a;
    display:none; 
    position: absolute;  
    right: 0;
}
.user ul{
    list-style:none;
    padding:0px;
    text-align: center;

}
.user li{
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    padding: 14% 0px;
    color: #827e7e;
    width: 135px;
    
}

.user-profile{
    text-decoration: none;
    color: #827e7e;
}

/* Book List */

.book-container{
    margin: 10px;
}

.booklist {
    display:block;
    padding: 0 50px;
	
}

.row {
    display: flex;
    background-color: #c7ffc7;
    margin: 10px;
}

.image {
    
    padding: 20px;
    width: 25%
}

.image img{
    height: 210px;
}

.text {
    
    vertical-align: top;
    padding: 20px;
    width : 75%;
}

/* profile page */
.profile-container{
    display:table-row;
    
}

.profile-img, .profile-details {
    display:table-cell;
    vertical-align: top;
    padding: 70px;
}

.profile-img img{
    height: 70%;
}

.book-details-link{
    padding-top:20px;
    color: blue;
    cursor: pointer;
}
.book-borrow-container {
    display: none;
    padding: 35px;
}

.book-borrow-table{
    display: table;
    width: 100%;
    background-color: #c6e2c6;
    border-radius: 20px;
}

.book-borrow-header{
    display:table-row;
    background-color: #5bb85b;
}
.book-borrow-row {
    display:  table-row;
}

.book-borrow-details{
    display:table-cell;
    vertical-align: top;
    padding: 20px;
    
}
.book-borrow-container{
    display:none;
}

.dot-circle.current{
    background-color: #334455;
}


/* search */

.search{
    height: 30px;
    padding-top: 10px;
    margin: 10px;
    border-bottom: solid 1px #ccc;
}

.search input{
    border: none;
    padding-left : 30px;
    outline: none;
    width: 98%;
}

/* book entry */
 .entry {
    display:  inline-block;
    width: 1300px;
    padding: 0 30px;
    display: inline-block;
    text-align: center;
}
.entry h2{
    padding: 5px 0;
    text-decoration: underline;
}

.entry ul {
    list-style:  none;
    text-align: left;
}

.entry li {
    padding: 15px 20px;
}

.entry label {
    width: 150px;
    display:  inline-block;
}

.entry input[type="text"] {
    outline:  none;
    border:  none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    padding: 5px 5px;
   
}

.entry button {
    background-color: #92e692;
    width: 150px;
    height: 45px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px #888888;
    border: none;
    
}

.save-msg{
    display: none;
    color: red;
    text-align: center;
    font-size: 25px;
}

